<p id="notice"><%= notice %></p>

<h1>Listing Evaluate Hosptials</h1>

<table>
  <thead>
    <tr>
      <th>Hospital</th>
      <th>Membersh number</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluate_hosptials.each do |evaluate_hosptial| %>
      <tr>
        <td><%= evaluate_hosptial.hospital %></td>
        <td><%= evaluate_hosptial.membersh_number %></td>
        <td><%= evaluate_hosptial.rate %></td>
        <td><%= link_to 'Show', evaluate_hosptial %></td>
        <td><%= link_to 'Edit', edit_evaluate_hosptial_path(evaluate_hosptial) %></td>
        <td><%= link_to 'Destroy', evaluate_hosptial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluate hosptial', new_evaluate_hosptial_path %>
