<p id="notice"><%= notice %></p>

<h1>Listing Require Tests</h1>

<table>
  <thead>
    <tr>
      <th>Transfer</th>
      <th>Test</th>
      <th>Test</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @require_tests.each do |require_test| %>
      <tr>
        <td><%= require_test.transfer %></td>
        <td><%= require_test.test %></td>
        <td><%= require_test.test_id %></td>
        <td><%= link_to 'Show', require_test %></td>
        <td><%= link_to 'Edit', edit_require_test_path(require_test) %></td>
        <td><%= link_to 'Destroy', require_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Require test', new_require_test_path %>
