<p id="notice"><%= notice %></p>

<p>
  <strong>Transfer:</strong>
  <%= @require_test.transfer %>
</p>

<p>
  <strong>Test:</strong>
  <%= @require_test.test %>
</p>

<p>
  <strong>Test:</strong>
  <%= @require_test.test_id %>
</p>

<%= link_to 'Edit', edit_require_test_path(@require_test) %> |
<%= link_to 'Back', require_tests_path %>
