<p id="notice"><%= notice %></p>

<p>
  <strong>Membersh number:</strong>
  <%= @engineer.membersh_number %>
</p>

<p>
  <strong>Number health care:</strong>
  <%= @engineer.number_health_care %>
</p>

<p>
  <strong>National:</strong>
  <%= @engineer.national_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @engineer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @engineer.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @engineer.phone_number %>
</p>

<p>
  <strong>Data of birth:</strong>
  <%= @engineer.data_of_birth %>
</p>

<p>
  <strong>Join data:</strong>
  <%= @engineer.join_data %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @engineer.graduation_year %>
</p>

<p>
  <strong>Number of participants:</strong>
  <%= @engineer.number_of_participants %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @engineer.gender %>
</p>

<p>
  <strong>Credit card:</strong>
  <%= @engineer.credit_card %>
</p>

<p>
  <strong>Email:</strong>
  <%= @engineer.email %>
</p>

<p>
  <strong>Path:</strong>
  <%= @engineer.path %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @engineer.limit %>
</p>

<%= link_to 'Edit', edit_engineer_path(@engineer) %> |
<%= link_to 'Back', engineers_path %>
