<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lab.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lab.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lab.phone %>
</p>

<p>
  <strong>Governorate:</strong>
  <%= @lab.governorate %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @lab.latitude %>
</p>

<p>
  <strong>Longitudes:</strong>
  <%= @lab.longitudes %>
</p>

<p>
  <strong>Area:</strong>
  <%= @lab.area %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @lab.rate %>
</p>

<p>
  <strong>Descriptation:</strong>
  <%= @lab.descriptation %>
</p>

<p>
  <strong>Path:</strong>
  <%= @lab.path %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lab.type %>
</p>

<%= link_to 'Edit', edit_lab_path(@lab) %> |
<%= link_to 'Back', labs_path %>
