<%= form_for(@evaluate_lab) do |f| %>
  <% if @evaluate_lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluate_lab.errors.count, "error") %> prohibited this evaluate_lab from being saved:</h2>

      <ul>
      <% @evaluate_lab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lab_id %><br>
    <%= f.text_field :lab_id %>
  </div>
  <div class="field">
    <%= f.label :membersh_number %><br>
    <%= f.text_field :membersh_number %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
