<p id="notice"><%= notice %></p>

<h1>Listing Evaluate Labs</h1>

<table>
  <thead>
    <tr>
      <th>Lab</th>
      <th>Membersh number</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluate_labs.each do |evaluate_lab| %>
      <tr>
        <td><%= evaluate_lab.lab %></td>
        <td><%= evaluate_lab.membersh_number %></td>
        <td><%= evaluate_lab.rate %></td>
        <td><%= link_to 'Show', evaluate_lab %></td>
        <td><%= link_to 'Edit', edit_evaluate_lab_path(evaluate_lab) %></td>
        <td><%= link_to 'Destroy', evaluate_lab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluate lab', new_evaluate_lab_path %>
